@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var todo in Model.ToDos)
    {
        <p> @todo.Id - @todo.Title - @todo.IsCompleted</p>
    }
</div>